# PS202 portable baseline. These are the stock PS202 Android button defaults;
# the installer preserves any existing non-empty user bindings.
libretro_directory = "/data/data/com.retroarch.ra32/cores/"
rgui_browser_directory = "/storage/sdcard1/roms/"
savefile_directory = "/storage/sdcard1/ps202/saves"
savestate_directory = "/storage/sdcard1/ps202/states"
screenshot_directory = "/storage/sdcard1/ps202/screenshots"
input_autoconfigure_dir = "/storage/sdcard1/retroarch/autoconfig/"
input_driver = "android"
input_joypad_driver = "android"
audio_driver = "android"
audio_latency = "96"
video_driver = "gl"
video_aspect_ratio = "1.333300"
custom_viewport_width = "640"
custom_viewport_height = "480"
video_vsync = "true"
video_swap_interval = "1"
video_threaded = "true"
menu_driver = "ozone"
content_show_history = "false"
notification_show_load_content = "false"
notification_show_autoconfig = "false"
input_player1_analog_dpad_mode = "1"
input_player1_up_btn = "19"
input_player1_down_btn = "20"
input_player1_left_btn = "21"
input_player1_right_btn = "22"
input_enable_hotkey_btn = "110"
input_menu_toggle_btn = "110"
input_quit_gamepad_combo = "4"
pcsx_rearmed_dynarec = "enabled"
pcsx_rearmed_neon = "enabled"
pcsx_rearmed_frameskip = "0"
pcsx_rearmed_internal_resolution = "1x"
pcsx_rearmed_region = "auto"
